<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>总览</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../vender/bootstrap-3.3.7-dist/css/bootstrap.min.css"
	type="text/css" rel="stylesheet">
<link href="../css/all.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="../vender/jquery-3.3.1.min.js"></script>
<script type="text/javascript"
	src="../vender/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="../vender/Chart.js-2.8.0/dist/Chart.min.js"></script>
<script type="text/javascript"
	src="../vender/Chart.js-2.8.0/samples/utils.js"></script>
<script type="text/javascript" src="../js/overview.js"></script>
<style>
canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
</style>
</head>
<body class="page-overview">
	<div class="outer">		
		<div class="summary">
			<div class="day-volume">
				<canvas id="day_volume"></canvas>
			</div>
			
			<div class="day-pe">
				<canvas id="day_pe"></canvas>
			</div>
		</div>
	</div>
</body>
</html>
