<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>术语</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/invest/vender/bootstrap-3.3.7-dist/css/bootstrap.min.css"
	type="text/css" rel="stylesheet">
<link href="/invest/css/all.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="/invest/vender/jquery-3.3.1.min.js"></script>
<script type="text/javascript"
	src="/invest/vender/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/invest/js/base.js"></script>
<script type="text/javascript" src="/invest/js/child.js"></script>
<script type="text/javascript" src="/invest/js/term.js"></script>
</head>
<body class="page-term">
	<div class="outer">
		<div class="terms">
			<div class="term">
				<a href="#" class="title">测试</a>
				<div class="content">测试测试测试测试测试测试测试测试测试测试
				<br/><br/>
					<a href="#" class="fold-up">收起</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
